body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {

    padding: 100px;
    text-align: center;
    background-color: #e7e7e7;
    color: rgb(29, 28, 28);
  }
  
  .container {
    padding: 0 16px;
  }
  .card-image{
      width: 100%;
      padding:6%;
      height:auto;
      align-self: start;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


  /**
  
  */
  
  h1 {
    text-align: center;
  }
  
  .accordion {
    font-size: 17px;
    margin: 30px auto;
    width: 70%;
    
  }
  
  .accordion__button {
    border: 0;
    margin: 10px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
  }
  
  .accordion__button span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(110, 110, 110);
    font-size: 25px;
  }
  
  .accordion__button:focus {
    outline: none;
  }
  
  .accordion__content {
    padding: 0 20px;
    opacity: 0;
    transition: all .3s;
    height: 0;
    margin: 0;
    margin-top: -10px;
    border: 1px solid #f1f1f1;
    border-top: 0;
  }
  
  .accordion__content.active {
      height: auto;
      opacity: 1;
      padding: 20px;
  }