.navbar{
  background-color:rgb(255, 255, 255); ;
  color: black;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgb(137, 136, 136);
}

.nav-link{
  background-color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color:black ;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
  color: black;
}

.navbar-dark .navbar-brand {
  color: #000;
}

.navbar-toggler-icon{
  color: #000 !important;
}

.dropdown-toggle{
  color: black;
}

#collasible-nav-dropdown{
  color: black;
}

#menu{
  background-color: rgb(213, 213, 213);
}
