@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}



.gallery-container {
  margin-top: 40px;
  padding: 20px;
}

.gallery-container h1 {
  margin: 2rem 0;
  padding: 0;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 6.5vw;
  font-weight: lighter;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  max-width: 1500px;
  width: 95%;
  margin: 0 auto;
}
.gallery-grid img {
  width: 100%;
  border: 1px solid #fff;
}

.gallery-grid div {
  position: relative;
  cursor: pointer;
}
.gallery-grid div:before, .gallery-grid div:after {
  transition: 0.3s opacity ease;
  opacity: 0;
}
.gallery-grid div:after {
  content: "↔";
  font-size: 80px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  color: #fff;
  left: 50%;
  top: 50%;
  display: block;
}
.gallery-grid div:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.5);
  display: block;
}
.gallery-grid div:hover:before, .gallery-grid div:hover:after {
  opacity: 1;
  transition: 0.3s opacity ease;
}



/*******/
.gallery-model{
    position: fixed;
      width: 100%;
    height: 100vh;
    top: 0;
    left: 0px;
    background-color:rgba(256, 256, 256, 0.5) ;
    padding: 0px;
  }


.gallery-model-container{
  background-color: white;
  width: 60%;
  margin: 10%  auto;
  top:10%;
  border-radius: 10px;
}

.gallery-model-close,.gallery-model-close:hover,
.gallery-model-next,.gallery-model-next:hover,.gallery-model-prev,.gallery-model-prev:hover{
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 50px; 
  top:20%;
  right: 10%;
  
}

.gallery-model-next,.gallery-model-next:hover{
  top:47%;
  right: 30%;
}
.gallery-model-prev,.gallery-model-prev:hover{
  top:47%;
  left:  30%;
}


.gallery-model-body{
  width: 90%;
  margin: 0 auto;
  padding-left: 4.5%;
}

.gallery-model-title,.gallery-model-description{
  text-align: center;
  min-height: 50px;
  padding:10px;
}

.gallery-model-image{
    width: 100%;
    margin: 10px auto;
    max-width:  400px;
}

@media (min-width: 20em) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-model-container{
    width: 90%;
    margin-top: 160px;
  }
  
  .gallery-model-prev,.gallery-model-prev:hover{
  left:  3%;
}

  .gallery-model-next,.gallery-model-next:hover{
    right: 3%;
  }
  .gallery-model-close,.gallery-model-close:hover{
    top:15%;
  }


}
@media (min-width: 34em) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-model-container{
    width: 80%;
    margin-top: 140px;
  }
   .gallery-model-prev,.gallery-model-prev:hover{
  left:  3%;
}

  .gallery-model-next,.gallery-model-next:hover{
    right: 3%;
  }
  .gallery-model-close,.gallery-model-close:hover{
    top:8%;
    right: 3%;
  }
}
@media (min-width: 60em) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-model-container{
    width: 48%;
    margin-top: 120px;
  }
     .gallery-model-prev,.gallery-model-prev:hover{
  left:  3%;
}

  .gallery-model-next,.gallery-model-next:hover{
    right: 3%;
  }
  .gallery-model-close,.gallery-model-close:hover{
    top:8%;
    right: 3%;
  }
}
@media (min-width: 80em) {
  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery-model-container{
    width: 32%;
    margin-top: 70px;
  }
}


